.thirdbanner{
  height: 513px;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
}
.fbox{
  width: 394px;
  height: 429px;
  background-color: #4F4F4F;
  margin: 42px 24px 42px 24px;
  display: flex;
  justify-content: space-between;
  
}
.sbox{
  width: 394px;
  height: 429px;
  background-color: #4F4F4F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   margin: 42px 24px  54px;
  
}
.tbox{
    width: 394px;
  height: 429px;
  background-color: #4F4F4F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   margin: 42px 52px 24px 54px;
}